* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.log-in {
  border-radius: 20px;
  width: 500px;
  height: 550px;
  background-color: white;
  justify-items: center;
}

.full-body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FEAF00;
}

.login-title {
  color: gray;
  margin-left: 18px;
}

.login-label {
  display: block;
  margin-left: 18px;
}

.login-email,
.login-password {
  padding: 10px 150px;
  margin-left: 20px;

}

.login-email {
  margin-bottom: 30px;
}

.login-btn {
  margin-left: 20px;
  padding: 10px 195px;
  margin-top: 50px;
  background-color: #FEAF00;
  border: none;
  color: white;
  border-radius: 5px;
  margin-bottom: 20px;
}

.login-label {
  margin-bottom: 10px;

}

.dash-tit {
  padding-top: 10px;
  display: block;
  width: 200px;
  padding-left: 10px;
}

.log-in h1 {
  padding-top: 30px;
}

.log-in h2 {
  padding-top: 50px;
}

.login-span {
  text-decoration: underline;
  color: rgb(197, 186, 23);
}

.login-title {
  margin-bottom: 70px;
  display: block;
}

.dashboard-sidebar {
  width: 230px;
  height: auto;
  min-height: 850px;
  background-color: #F2EAE1;
}

.logo {
  padding-top: 70px;
  padding-left: 30px;
  padding-bottom: 50px;
}

.dashboard-ul li p {
  color: black;
  padding: 10px;
}

.app-ret {
  display: flex;
  gap: 100px;
}

.add-user input {
  display: block;
  padding: 15px 150px;
  margin-bottom: 15px;
  border-radius: 25px;
  border: 1px solid yellow;

}

.user-div {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  width: 500px;
  height: 500px;
  background-color: #eedcc9;

}

.add-btn {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: #FEAF00;
}

.std-ret {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-user h2 {
  padding: 10px;
  margin-bottom: 15px;
}

.add-user {
  justify-self: center;

}

.student-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.st-title {
  padding: 20px;
}


.student-card {
  width: 700px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 150px;
}

.student-table {
  width: 800px;
  border-collapse: collapse;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.student-table th {
  background-color: #FEAF00;
  padding: 15px;
  color: white;
  font-weight: bold;
}

.student-table td {
  padding: 15px;
  text-align: center;

}

.student-table tr:hover {
  background-color: #f1ece5;
}

.student-table img {
  border-radius: 10px;
}

thead tr .date {
  width: 200px;
}

.st-nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 25px;
  align-items: center;
  margin-left: 100px;
}

.nav-next {
  font-size: 25px;

}

.st-sr {
  padding: 8px 70px;
  border: none;
}

.input-wrapper {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
}

.search-icon {
  color: #C4C4C4;
}

.alarm {
  color: #C4C4C4;
}

.navigate-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
}

.add-st {
  background-color: #FEAF00;
  color: white;
  border: none;
  height: 35px;
  padding: 5px;
  border-radius: 5px;
}

.collect {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.slider {
  color: #FEAF00;
  font-size: 25px;
}

.next {
  color: #C4C4C4;
}

.report-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.save-btn,
.cancel-btn,
.edit-btn,
.delete-btn {
  font-size: 20px;
  color: #FEAF00;
  border: none;
  background-color: white;

}

.actions,
.action-div {
  display: flex;
  align-items: center;
  gap: 7px;
  width: 110px;
}

.delete-btn,
.edit-btn,
.save-btn,
.cancel-btn {
  background-color: transparent;
  padding-top: 20px;
}

.std-ret {
  margin-left: 150px;
}